/* Estilo para el panel izquierdo */
.side-panel {
    background-color: #333;
    color: #fff;
    min-height: 100vh;
    padding: 20px;
}
.hUno{
    font-weight: bold;
    font-size: 50px;
}

/* Estilo para el contenido en el centro */
.content {
    padding: 20px;
}


.contenido{
    display: none; 
    text-align: center;
    width: 100%;

}

.contenido img{
    max-width: 800px; 
    height: 372px; 
    margin: 30px 0 20px 0; 
    width: 619px;
}

div div img{
    max-width: 100%; 
    max-height: 100%; 
    margin-left: 27%; 
    width: 619px;
}
p,ul .nav-items{
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}

.content-3{
    padding-left: 25%;
    padding-right: 25%;
    text-align: justify;
}

h2{
    margin-top: 30px;
    text-align: center;    
}

.content-home{
    text-align:center;
}

a:hover{
    cursor: pointer;

}
