/* Estilo para el panel izquierdo */
.side-panel {
    background-color: #333;
    color: #fff;
    min-height: 100vh;
    padding: 20px;
}
.hUno{
    font-weight: bold;
    font-size: 50px;
}

/* Estilo para el contenido en el centro */
.content {
    padding: 20px;
}


.contenido{
    display: none; 
    text-align: center;
    width: 100%;

}
div div img{
    max-width: 100%; 
    max-height: 100%; 
    margin-left: 27%; 
    width: 619px;
}
p,ul .nav-items{
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}

h2{
    margin-top: 30px;
    text-align: center;    
}

.content-home{
    text-align:center;
}

a:hover{
    cursor: pointer;

}
